<!DOCTYPE html>
<html>
  <head>
    <% include public_include.ejs %>
    <title><%= args['location'] %></title>
  </head>
  <body style="padding-top:50px">
    <% include header.ejs %>

    <div class="jumbotron">
       <h1> Welcome to wise's QUERY 标注平台!!</h1>
       <p> 功能还不完善，凑合着用吧，有总比没有强! </p>
       <button class="btn btn-success btn-lg" onclick="alert("Nothing More!")">Read More</button>
    </div>
    
    <% include footer.ejs %>
  </body>
</html>
